html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#game-over, #you-succeeded {
    position: absolute;
    width: 1200px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 60px;
    visibility: hidden;
}

#game-over {
    background-color: rgba(255, 0, 0, 0.5);
    color: darkred;
}

#you-succeeded {
    background-color: rgba(0, 255, 0, 0.5);
    color: darkgreen;
}

#game-over.display, #you-succeeded.display {
    visibility: visible;
}

#game-over p, #you-succeeded p {
    margin: 0;
}

#game-over button, #you-succeeded button {
    padding: 20px 100px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    color: white;
    transition: all .2s;
    cursor: pointer;
}

#you-succeeded button {
    background-color: darkgreen;
}
#you-succeeded button:hover {

}

#game-over button {
    background-color: darkred;
}
#game-over button:hover {
    background-color: #c81f1f;
}
